@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  color: theme(colors.textColor);
}

body {
  /* https://twitter.com/AllThingsSmitty/status/1254151507412496384 */
  min-height: -webkit-fill-available;
  background-image: linear-gradient(to bottom, theme(colors.slate.200), theme(colors.slate.100));
  background-repeat: no-repeat;
}

/****************************************
  Headings
*****************************************/

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Inter';
    color: theme(colors.headingColor);
    font-weight: 700;
    margin: 0;
    letter-spacing: 0.03em;
  }
}

/****************************************
  Anchors
*****************************************/

@layer base {
  a {
    color: theme(colors.brandColor);
    text-decoration: none;
  }
  a:focus {
    outline-color: currentColor;
  }
  a:hover {
    text-decoration: underline;
  }
}

/****************************************
  Buttons
*****************************************/

@layer base {
  .button,
  button {
    all: unset;
    cursor: pointer;
  }

  /* Normalize anchors with .button to behave more like buttons */
  a.button {
    display: inline-block;
    text-decoration: none !important;
    white-space: nowrap;
  }

  /* Anchor Looking */
  /* button {
    font-weight: 300;
  } */

  /* Button Looking */
  .button {
    font-weight: 500;
    font-size: 0.8rem;
    letter-spacing: 0.08rem;
    line-height: 1.2em;
    background-color: theme(colors.brandColor);
    color: #fff;
    border: 1px solid transparent;
    border-radius: 0.2rem;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 1rem;
  }

  .button:hover,
  .button:focus {
    background-color: theme(colors.sky.700);
  }

  .button.button-outline {
    border-color: currentColor;
    background-color: #fff;
    color: theme(colors.brandColor);
  }

  .button[disabled] {
    background-color: theme(colors.slate.400);
    color: #fff;
  }
}

/****************************************
  Form Fields
*****************************************/

@layer components {
  .form-field {
    width: 100%;
    padding: 0.5em 0.7em;
    background-color: #fff;
    border: 1px solid theme(colors.slate.300);
    font-size: 1.1rem;
    font-weight: 300;
    color: theme(colors.slate.700);
    border-radius: 5px;
  }

  .form-field:focus,
  .form-field:focus-within {
    outline: none;
    border-color: theme(colors.sky.400);
  }

  textarea.form-field {
    resize: vertical;
    max-height: 300px;
  }

  select.form-field {
    appearance: none;
    display: inline-block;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+');
    background-position: 100% center;
    background-repeat: no-repeat;
    padding-right: 1.5em;
  }

  .form-field-wrap.required > label.form-field-label {
    position: relative;
  }

  .form-field-wrap.required > label.form-field-label::after {
    content: '•';
    position: absolute;
    left: -0.7em;
    top: -0.35em;
    color: var(--red);
    font-size: 1.4em;
  }
}

@layer base {
  input {
    accent-color: theme(colors.brandColor);
  }

  input[type='checkbox'] {
    background: blue;
  }

  input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    border-radius: 1em;

    background: theme(colors.slate.300);
    height: 0.5rem;
  }

  input[type='range']::-webkit-slider-runnable-track,
  input[type='range']::-moz-range-track {
    background: green;
    height: 0.5rem;
  }
}

/****************************************
  Primary Nav
*****************************************/

@layer components {
  .primary-nav a.active {
    border-color: theme(colors.brandColor);
  }
}
