.button,
.icon-button,
.reset-button,
button {
  all: unset;
  cursor: pointer;
  > * {
    vertical-align: middle;
  }
}

.button {
  font-size: 0.7rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 0.2rem;
  color: #fff;
  background-color: $bright-blue;
  border: 1px solid transparent;
  padding: 0.4rem 1rem;

  // These normalize anchors with .button to behave more like buttons
  display: inline-block;
  text-decoration: none !important;

  // Icon Size and Alignment
  > * {
    vertical-align: middle;
  }
  > svg {
    font-size: 1rem;
  }
  > span + svg {
    margin-left: 0.3em;
  }
  > svg + span {
    margin-left: 0.5em;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba($bright-blue, 0.3);
  }

  &:hover {
    background-color: darken($bright-blue, 8%);
  }

  [disabled] {
    background-color: #aaa;
  }
}

.cta-button {
  background-color: $green;
  &:focus {
    box-shadow: 0 0 0 3px rgba($green, 0.3);
  }
  &:hover {
    background-color: darken($green, 8%);
  }
}

button.as-link {
  color: $link-color;
}
