@import 'spa/styles/all.scss';

.app {
  width: 100vw;
  min-height: 100vh;
  padding: 60px;
}

.card {
  border-radius: 0.2em;
}

.field-wrap {
  > label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.3rem;
  }
}
