@import 'ProjectPlanner/styles/center-lesson';

html {
  // Just so everything is a little bigger
  font-size: 18pt;
}

body {
  background-color: var(--lightGray);
}

.card {
  background-color: #fff;
  padding: var(--gutter);
  border-radius: 0.5rem;
}
