#root {
  width: 20em;
}

:focus {
  outline: 2px solid rgba(73, 146, 255, 0.7);
  outline-offset: 2px;
}

input:focus {
  outline-offset: 0;
}

button {
  font-size: 0.78rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1;
  padding: 0.4em 0.6em;
  border: 2px solid #aaa;
  border-radius: 3px;
}

.task-input,
.edit-input {
  font-size: 0.78rem;
  letter-spacing: 0.5px;
  line-height: 1;
  padding: 0.4em 0.6em;
  border: 1px solid rgb(120, 120, 120);
  border-radius: 3px;
}

label[for='task-input'] {
  display: block;
  font-size: 0.78rem;
}

.task-form {
  display: flex;
  gap: 10px;
}

.task-form > div {
  flex: 1 1 100%;
}

.task-input {
  width: 100%;
}

.add-button {
  align-self: flex-end;
}

.task-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.task {
  margin: 0;
  padding: 0;

  form {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .task-checkbox {
    flex: 0 0 auto;
    margin: 0;
  }

  .task-label {
    display: block;
    width: 100px;
    max-width: 100%;
    flex: 1 0 100px;
  }

  .edit-input {
    display: none;
    width: 98px;
    max-width: 100%;
    flex: 1 0 98px;
  }

  &.editing {
    .edit-input {
      display: block;
    }

    .task-label {
      display: none;
    }
  }
}
