@import 'TaskMaker/styles/_theme.scss';

.card-list {
  flex: none;
  width: 15em;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0.8rem;
  border-radius: 0.6rem;
}

.card-list-scroll-area {
  // temp to test scrolling
  max-height: 13rem;
  overflow: scroll;
}
