@import 'YesterTech/styles/_theme.scss';
@import 'YesterTech/styles/center-lesson';

#root {
  width: 30em;
  margin: 3em auto;
}

[data-reach-tab] {
  display: inline-block;
  padding: 0.3em 1em;
  cursor: pointer;
  color: $blue;

  background-color: #fff;

  &.active {
    color: #fff;
    background-color: $bright-blue;
  }

  &.disabled {
    background-color: #ccc;
    color: #777;
    cursor: default;
  }
}

[data-reach-tab-panels] {
  padding-top: 1em;
  padding-bottom: 1em;
}

[data-reach-tab-list] + [data-reach-tab-panels] {
  border-top: 2px solid $bright-blue;
}

[data-reach-tab-panels] + [data-reach-tab-list] {
  border-top: 2px solid $bright-blue;
}
