.button,
.icon-button,
.reset-button,
button {
  all: unset;
  cursor: pointer;
  > * {
    vertical-align: middle;
  }
  > span + svg {
    margin-left: 0.3em;
  }
  > svg + span {
    margin-left: 0.5em;
  }
}

.button {
  font-size: 0.7rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 0.2rem;
  color: #fff;
  background-color: var(--brightBlue);
  border: 1px solid transparent;
  padding: 0.5rem 1rem;

  // These normalize anchors with .button to behave more like buttons
  display: inline-block;
  text-decoration: none !important;

  &:hover,
  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 4px rgba(#fff, 0.5);
  }

  [disabled] {
    background-color: #aaa;
    cursor: default;
  }

  &.button-small {
    font-size: 0.5rem;
    padding: 0.3rem 0.6rem;
  }

  &.button-outline {
    background-color: transparent;
    color: var(--brightBlue);
    font-weight: bold;
    &:hover {
      border: 1px solid var(--lineColor);
      background-color: #fff;
    }
    &:focus {
      box-shadow: 0 0 0 1px var(--blue);
    }
  }

  &.button-green {
    background-color: var(--green);
  }

  &.button-red {
    background-color: var(--red);
  }
}

.button-icon {
  padding: 0.3rem;
}

button.ink {
  color: var(--linkColor);
}
