@mixin formField {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-family: var(--fontFamily);
  padding: 0.3rem 0.5rem;
  border: 1px solid #ddd;
  border-radius: 2px;
}

input[type='text'],
input[type='email'],
input[type='submit'],
input[type='password'],
textarea {
  &.form-field {
    @include formField;

    &:focus {
      outline: none;
      border-color: var(--brightBlue);
    }

    &[disabled] {
      background-color: #eee;
    }
  }
}

div.form-field {
  @include formField;
  &:focus-within {
    border-color: var(--brightBlue);
  }
}

textarea.form-field {
  display: block;
  resize: vertical;
}

div.form-field-icon {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 2px;
  &:focus-within {
    border-color: var(--brightBlue);
  }

  .form-field-icon-input-wrap {
    flex: 1;
  }

  input {
    background-color: transparent;
    width: 100%;
    display: block;
    padding: 0.3rem 0.5rem;
    border: none;
    outline: none;
    font-size: 1rem;
    font-family: var(--fontFamily);
  }
  .form-field-icon-wrap {
    aspect-ratio: 1/1;
    color: var(--textColor);
    margin-right: 0.5em;
  }
}

::placeholder {
  color: #aaa;
  font-style: italic;
}

// Prevents Chrome's yellow background on autofill
// https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: 'color 9999s ease-out, background-color 9999s ease-out';
  -webkit-transition-delay: 9999s;
}
