@import '@reach/slider/styles';
@import '@reach/menu-button/styles';
@import '@reach/dialog/styles';

/**
 * Menu List
 */

[data-reach-menu-list] {
  border: none;
  border-radius: 0.5rem;
}

[data-reach-menu-item][data-selected] {
  background-color: var(--lavender);
}

/**
 * Dialog
 */

[data-reach-dialog-content] {
  padding: 0 !important;
  border-radius: 0.2rem;
  overflow: hidden;
  min-width: 400px;
}

/**
 * Slider
 */

[data-reach-slider-track] {
  background-color: var(--lineColor);
}

// [data-reach-slider-range] {
//   background-color: rgba(var(--brightBlue), 0.2);
// }

[data-reach-slider-handle] {
  background: var(--brightBlue);
  box-shadow: 0 0 0 3px white;
  &:focus {
    box-shadow: 0 0 0 1px white, 0 0 0 2px var(--brightBlue), 0 0 0 5px white;
    outline: none;
  }
}
