.text-warn {
  color: var(--warn) !important;
}

.text-success {
  color: var(--success) !important;
}

.text-light {
  color: var(--textColorLight);
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-small {
  font-size: 0.7rem;
}

.text-large {
  font-size: 1.5em;
  font-weight: 300;
}

.text-xlarge {
  font-size: 2em;
  font-weight: 300;
}

.text-icon {
  > * {
    vertical-align: middle;
  }
  > span + svg {
    margin-left: 0.3em;
  }
  > svg + span {
    margin-left: 0.5em;
  }
}

.no-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
