:root {
  --blue1: #2d4b61;
  --blue2: #1b93e9;
  --blue3: #a7b8cc;
  --blue4: #e8edf3;

  --pink: #d61376;
  --green: #639d76;

  /* Copy */
  --fontFamily: 'Inter';
  --fontWeight: 400;
  --fontSize: 14pt;
  --headingFontFamily: 'Teko';
  --headingFontWeight: 600;

  /* Layout */
  --gutter: 0.8rem;
  --gutterSmall: 0.3rem;
}

/* Light Colors */
[data-theme='light'] {
  --textColor: var(--blue1);
  --textColorLight: var(--blue2);
  --linkColor: var(--blue2);
  --lineColor: #a7b8cc;
  --headingColor: var(--blue1);
  --formFieldBackgroundColor: #fff;
  --backgroundContrast: #d5dce4;

  color: var(--textColor);
}

/* Dark Colors */
[data-theme='dark'] {
  --textColor: var(--blue4);
  --textColorLight: var(--blue2);
  --linkColor: var(--blue2);
  --lineColor: var(--blue2);
  --headingColor: var(--blue4);
  --backgroundContrast: #153748;
  --formFieldBackgroundColor: var(--backgroundContrast);

  color: var(--textColor);
}
