.component {
  padding: 0.5rem 1rem;

  :global {
    .primary-nav-item {
      text-transform: uppercase;
      font-size: 0.7rem;
      font-weight: bold;
      letter-spacing: 0.1em;
    }

    .primary-nav-item.active {
      text-decoration: underline;
    }
  }
}
