.button,
.icon-button,
.reset-button,
button {
  all: unset;
  cursor: pointer;
  > * {
    vertical-align: middle;
  }
  > span + svg {
    margin-left: 0.3em;
  }
  > svg + span {
    margin-left: 0.5em;
  }
}

.button {
  font-size: 0.7rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 0.2rem;
  color: #fff;
  background-color: $brightBlue;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;

  // These normalize anchors with .button to behave more like buttons
  display: inline-block;
  text-decoration: none !important;

  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 4px rgba(#fff, 0.5);
  }

  &:hover {
    background-color: darken($brightBlue, 8%);
  }

  [disabled] {
    background-color: #aaa;
  }

  &.button-small {
    font-size: 0.5rem;
    padding: 0.3rem 0.6rem;
  }

  &.button-outline {
    background-color: transparent;
    color: $brightBlue;
    font-weight: bold;
    &:hover {
      border: 1px solid $lineColor;
      background-color: #fff;
    }
  }
}

button.ink {
  color: $linkColor;
}
