@import 'course-platform/styles/all.scss';
@import 'course-platform/styles/center-lesson.css';

body {
  background-color: var(--blue4);
}

.date-card {
  background-color: #fff;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  box-shadow: 0 0 20px -10px;
}
