@import 'YesterTech/styles/global-styles';
@import 'YesterTech/styles/center-lesson';

html {
  font-size: 20pt;
}

hr {
  border-color: #444;
}

@mixin lesson-label {
  position: fixed;
  font-size: 0.5rem;
  top: 1em;
  left: 1em;
  color: #aaa;
}

.composing-state::before {
  @include lesson-label;
  content: 'Lesson: Composing State';
}

.effects-in-custom-hooks::before {
  @include lesson-label;
  content: 'Lesson: Effects in Custom Hooks';
}
