$button-border-color: #8e8e8e;

body {
  background: {
    color: #fefefe;
    image: url(https://512pixels.net/downloads/macos-wallpapers/10-13.jpg);
    size: cover;
    position: top center;
  }
}

.calculator {
  // Type and fonts
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, 'helvetica neue', helvetica, arial, sans-serif;

  // Structure
  display: grid;
  grid-template:
    79px repeat(4, 48px) auto /
    repeat(4, 1fr);
  height: 320px;
  width: 232px;

  // Positioning
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  // Decoration
  border: 1px solid rgba(#000, 0.45);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 20px 60px rgba(#000, 0.5);

  .display {
    // Type and fonts
    font-weight: 100;
    font-size: 3rem;
    color: #fff;

    // Structure
    display: flex;
    padding-right: 10px;
    padding-bottom: 2px;
    grid-column: 1 / 5;

    // Positioning
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;

    // Decoration
    background-color: rgba(#4c4c4c, 0.6);

    > span {
      position: relative;
    }

    &:before {
      content: '';
      width: 120%;
      height: 120%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      box-shadow: inset 0 0 0 200px rgba(#fff, 0.05);
      filter: blur(50px);
    }

    .dot {
      background: rgba(#fff, 0.35);
      border: 2px solid rgba(#fff, 0.125);
      height: 8px;
      width: 8px;
      position: absolute;
      left: 7px;
      top: 4px;
      border-radius: 10px;
      &:nth-child(2) {
        left: 27px;
      }
      &:last-child {
        left: 47px;
      }
    }
  }

  // Buttons
  .btn {
    box-sizing: border-box;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    border: 0;
    border-bottom: 1px solid $button-border-color;
    border-right: 1px solid $button-border-color;
    border-image: none;
    padding: 0;
    position: relative;
    &:active {
      &:before {
        position: absolute;
        content: '';
        display: block;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: rgba(#000, 0.25);
      }
      // background: green !important;
    }
    &:active,
    &:focus {
      outline: none;
    }
    &.toggle {
      background: #d6d6d6;
      font-weight: 400;
    }
    &.pos-neg {
      span {
        font-size: 0.925rem;
        &:first-child {
          margin-top: -10px;
        }
        &:nth-child(2) {
          font-size: 1rem;
          transform-origin: center;
          transform: skewx(-20deg);
        }
        &:last-child {
          margin-bottom: -3px;
        }
      }
    }
    &.num {
      background: #e0e0e0;
    }
    &.math {
      background: #f5923e;
      color: #fff;
      border-right: 0;
      font-size: 2rem;
      font-weight: 200;
      &:active {
        color: #777;
      }
      &:not(.eq):active,
      &:not(.eq):focus,
      &.active {
        border: 2px solid $button-border-color;
        border-left-width: 1px;
        border-right: 0;
      }
    }
    // Numbers
    &.num {
      font-size: 1.325rem;
    }
    &.n1,
    &.n2,
    &.n3 {
      grid-row: 5 / 6;
    }
    &.n4,
    &.n5,
    &.n6 {
      grid-row: 4 / 5;
    }
    &.n0 {
      grid-row: 6 / 7;
      grid-column: 1 / 3;
      border-bottom: 0;
      justify-content: left;
      padding-left: 22px;
    }
    // Decimal
    &.dec {
      grid-row: 6 / 7;
      border-bottom: 0;
    }
    // Math
    &.math {
      grid-column: 4 / 5;
    }
    &.mul {
      grid-row: 3 / 4;
    }
    &.min {
      grid-row: 4 / 5;
    }
    &.add {
      grid-row: 5 / 6;
    }
    &.eq {
      grid-row: 6 / 7;
      border-bottom: 0;
    }
  }
}
