@import 'YesterTech/styles/global-styles';
@import 'YesterTech/styles/_theme';
@import 'YesterTech/styles/center-lesson';

html {
  font-size: 25pt;
}

#root {
  text-align: center;
}

[data-menu] {
  text-align: left;
  display: inline-block;
  position: relative;
}

[data-menu-list] {
  background-color: #fff;
  border: 1px solid #eee;
  position: absolute;
  top: calc(100% + 0.2rem);
  left: 0;
  min-width: 8rem;
}

[data-menu-item] {
  cursor: pointer;
  padding: 0.2rem 0.7rem;

  &:hover {
    background-color: $blue;
    color: #fff;
  }
}
