@import 'YesterTech/styles/global-styles';
@import 'YesterTech/styles/center-lesson';

html {
  font-size: 25pt;
}

[data-disclosure-button] {
  all: unset;
  background-color: #ccc;
  padding: 0.2rem;
  width: 100%;
  cursor: pointer;

  > * {
    vertical-align: middle;
  }
}

[data-disclosure-button] + [data-disclosure-panel] {
  margin-top: 0.2rem;
}
