@import 'course-platform/styles/all.scss';
@import 'course-platform/styles/center-lesson.css';

body {
  background-color: var(--blue4);
}

h1 {
  font-size: 1.3em;
}

.course-listing {
  background-color: var(--blue4);
  padding: var(--gutter);
}

.counter {
  .input,
  input[type='text'] {
    width: 2em;
    font-size: 1.5em;
    text-align: center;
  }
  input[type='text'] {
    padding: 0.4em;
    width: 2.5em;
    font-size: 1em;
    border: 1px solid var(--blue3);
    &:focus {
      border-color: var(--blue2);
      outline: none;
    }
  }
}

.black-box {
  background: black;
  color: white;
  width: 150px;
  height: 150px;
}
