@import 'YesterTech/styles/global-styles';
@import 'YesterTech/styles/_theme';
@import 'YesterTech/styles/center-lesson';

#root {
  width: 30em;
  margin: 3em auto;
}

[data-tab] {
  font-size: 0.7rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  background-color: #fff;
  color: $blue;

  &:focus {
    box-shadow: inset 0 0 0 5px rgba(#fff, 0.5);
  }

  &[data-selected] {
    color: #fff;
    background-color: $bright-blue;
  }

  &[disabled] {
    background: linear-gradient(#eee, #fafafa);
    box-shadow: inset 0 0 0 1px #ddd;
    color: #777;
    cursor: default;
  }
}

[data-tab-panels] {
  padding: 0.5em 0;
}

[data-tab-list] + [data-tab-panels] {
  border-top: 2px solid $bright-blue;
}

[data-tab-panels] + [data-tab-list] {
  border-top: 2px solid $bright-blue;
}
