.component {
  background-color: var(--blue4);
  padding: 0.6rem 1rem;
  border-radius: 3px;

  &:global(.notice-type-success) {
    color: rgba(#fff, 0.9);
    background-color: var(--green);
  }

  &:global(.notice-type-error) {
    color: rgba(#fff, 0.9);
    background-color: var(--pink);
  }
}
