@import 'YesterTech/styles/_theme.scss';

// Centers the content for lecture purposes
#root {
  display: flex;
  min-height: 100vh;

  // Make everything bigger for this example
  font-size: 14pt;

  > * {
    margin: auto;
  }
}

.primary-layout {
  width: 35rem;
}

.primary-header {
  text-align: right;
  a {
    font-size: 0.8em;
    color: $text-color;
  }
  a.active {
    text-decoration: underline;
  }
  a + a {
    margin-left: 0.5em;
  }
}

.browse-product-item {
  display: flex;

  > :nth-child(2) {
    margin-left: 1rem;
    flex: 1;
  }
}
