[data-tabs] {
  background: white;
  padding: 0.4em;
  border-radius: 0.5em;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  --blue: #d1deed;
}

[data-tab] {
  font-size: 0.7rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  background-color: #fff;
}

[data-tab]:focus {
  box-shadow: inset 0 0 0 5px rgba(#fff, 0.5);
}

[data-tab][data-selected] {
  color: black;
  background-color: var(--blue);
}

[data-tab-panels] {
  padding: 0.5em 0.8em;
}

[data-tab-list] + [data-tab-panels] {
  border-top: 2px solid var(--blue);
}

[data-tab-panels] + [data-tab-list] {
  border-top: 2px solid var(--blue);
}
