// // Label
// label {
//   margin-bottom: 0.2em;
//   font-size: 0.8em;
//   font-weight: bold;
// }

@mixin formField {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-family: $fontFamily;
  padding: 0.3rem 0.5rem;
  border: 1px solid #ddd;
  border-radius: 2px;
}

input[type='text'],
input[type='submit'],
input[type='password'],
textarea {
  &.form-field {
    @include formField;

    &:focus {
      outline: none;
      border-color: $brightBlue;
    }

    &[disabled] {
      background-color: #eee;
    }
  }
}

div.form-field {
  @include formField;
  &:focus-within {
    border-color: $brightBlue;
  }
}

textarea.form-field {
  display: block;
  resize: vertical;
}

::placeholder {
  color: #aaa;
  font-style: italic;
}

// Prevents Chrome's yellow background on autofill
// https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: 'color 9999s ease-out, background-color 9999s ease-out';
  -webkit-transition-delay: 9999s;
}
