.component {
  display: flex;
  flex-direction: column;

  > header {
    background-color: #fff;

    margin-top: calc(-1 * var(--gutter));
    margin-right: calc(-1 * var(--gutter));
    margin-left: calc(-1 * var(--gutter));
    margin-bottom: var(--gutter);

    padding-left: var(--gutter);
    padding-right: var(--gutter);

    > nav > a {
      display: inline-block;
      padding: 1.1em 0.2em;
      color: var(--blue1);
      text-decoration: none;
      border-bottom: 3px solid transparent;

      span {
        vertical-align: middle;
        margin-left: 0.3em;
        display: inline-block;
      }

      &:hover {
        svg {
          color: var(--blue2);
        }
      }

      &:global(.active) {
        border-color: var(--blue2);
        color: var(--blue2);
        span {
          color: var(--blue1);
        }
      }
    }
  }

  main {
    max-width: 1500px;
    flex: 1;

    display: flex;
    flex-direction: column;
  }
}
