// Literal Color Names
$blue: #2084b0;
$bright-blue: #04b3ff;
$green: #3cbf3c;
$red: #c01212;
$yellow: #f3b73d;

// Semantic Colors
$line-color: #edf2f7;
$warn: $red;
$success: $green;

// Copy
$text-color: #303f46;
$font-family: 'Nunito Sans';
$font-weight: 300;
$font-size: 14pt;
$link-color: $bright-blue;
$heading-font-family: $font-family;
$heading-font-weight: 700;

// Layout
$gutter: 0.8em;
$gutter-small: 0.3em;
