// Centers the content for lecture purposes
#root {
  display: flex;
  min-height: 100vh;

  > * {
    margin: auto;
  }
}

.browse-product-item {
  display: flex;
  width: 25em;

  > :first-child {
    width: 10em;
  }
  > :nth-child(2) {
    flex: 1;
  }
}
