.edit-title {
  display: flex;
  padding: 0.3em;
  border: 1px solid transparent;
  cursor: text;
  outline: none;

  input {
    display: block;
    width: 100%;
    flex: 1;
    border: none;
    background-color: transparent;
    font: inherit;
    color: inherit;
    outline: none;
    padding: 0;
  }

  svg {
    align-self: center;
    opacity: 0;
  }

  &:hover,
  &:focus {
    border-radius: 2px;
    border: 1px solid var(--lineColor);
    svg {
      opacity: 1;
    }
  }

  // We only want these styles when in actual edit mode
  &:focus-within:not(:focus) {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid var(--lineColor);
    svg {
      opacity: 1;
    }
  }
}
