.primary-header {
  background: linear-gradient(to right, var(--purple), var(--blue));
  padding: 0.5rem 1rem;
}

.primary-nav-item {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.1em;

  &.active {
    text-decoration: underline;
  }
}

.avatar-menu {
  border-radius: 50%;
  &:focus {
    box-shadow: 0 0 0 4px var(--purple);
  }
}
