.primary-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #e8edf3;

  main.primary-content {
    // Take up the rest of the vertical space that adjacent siblings (header and footer) don't take up
    flex: 1;
    // Allow the pages to take full height (they will be flex items
    display: flex;

    > * {
      flex: 1;
    }

    > *:not(.board) {
      margin: var(--gutter);
    }
  }
}
