.progress {
  padding: 0 0.3em;

  &[data-status='none'] {
    --taskColor: #04b3ff;
  }

  &[data-status='progress'] {
    --taskColor: #04b3ff;
  }

  &[data-status='complete'] {
    --taskColor: #4dd579;
  }

  [data-reach-slider-range] {
    background-color: var(--taskColor);
    opacity: 0.5;
  }
  [data-reach-slider-handle] {
    background: var(--taskColor, var(--brightBlue));
    box-shadow: 0 0 0 3px white;
    &:focus {
      box-shadow: 0 0 0 1px white, 0 0 0 2px var(--taskColor, var(--brightBlue)), 0 0 0 5px white;
    }
  }
}
