.task-card {
  background-color: #fff;
  border-left: 4px solid var(--taskColor);
  padding: var(--gutterSmall) var(--gutter);
  border-radius: 6px;

  .remove-task-button {
    opacity: 0;
  }
}

.task-card-content {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

[data-rbd-draggable-context-id] {
  &:focus {
    outline: none;

    .task-card {
      box-shadow: 0 0 0 1px var(--taskColor);
    }
  }

  &:hover,
  &:focus,
  &:focus-within {
    .remove-task-button {
      opacity: 1;
    }
  }
}

// Vertical spacing
[data-rbd-placeholder-context-id],
[data-rbd-draggable-id] {
  margin-bottom: var(--gutter);
}
