@import 'ProjectPlanner/styles/_theme.scss';

.task-group {
  background-color: rgba(white, 0.5);
  padding: 0.8rem;
  border-radius: 0.6rem;

  .dropzone {
    min-height: 2rem;
  }
}

// Vertical spacing
[data-rbd-placeholder-context-id],
[data-rbd-draggable-id] {
  margin-bottom: $gutter;
}
