body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 20px;
}

.pokemon {
  position: relative;
  margin: 20px auto;
  width: 400px;
  height: 400px;
  border: 10px solid #282828;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;

  div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    background: #d5615e;
    height: 50%;
  }
  input {
    margin: auto;
    padding: 5px;
    display: block;
    border: 3px solid #282828;
    border-radius: 10px;
    font-size: 20px;
    &:focus {
      outline: 3px dashed #282828;
    }
  }

  span {
    text-transform: capitalize;
  }

  img {
    margin: auto;
    display: block;
  }
}
