.component {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  object-fit: cover;

  /* If not an image */
  &:is(div) {
    background-color: #eee;
    border: 1px solid #ddd;
  }
}
