@import 'spa/styles/all.scss';
@import 'spa/styles/center-lesson.css';

#root {
  width: 25em;
  min-height: 20em;
}

html {
  font-size: 20pt;
}

hr {
  border-color: #444;
}

.primary-nav-item.active {
  color: var(--textColor);
  font-weight: bold;
}
