.contentInputField {
  border: 1px solid var(--blue3);
  background-color: #f4f7fa;
  width: 100%;
  font-size: 1.3em;
  padding: 1.5em;
  resize: none;
  min-height: 500px; // match container

  &:focus {
    outline: none;
    border-color: var(--blue2);
  }
}

.contentPreview {
  font-size: 1.3em;
  padding: 1.5em;
  min-height: 22em;
}
