@import 'YesterTech/styles/global-styles';
@import 'YesterTech/styles/_theme';
@import 'YesterTech/styles/center-lesson';

#root {
  width: 30em;
  margin: 3em auto;
}

[data-tab] {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  color: $blue;

  &:focus {
    box-shadow: inset 0 0 0 5px rgba(#fff, 0.5);
  }

  background-color: #fff;

  &[data-selected] {
    color: #fff;
    background-color: $bright-blue;
  }

  &.disabled {
    background-color: #ccc;
    color: #777;
    cursor: default;
  }
}

[data-tab-panels] {
  padding-top: 1em;
  padding-bottom: 1em;
}

[data-tab-list] + [data-tab-panels] {
  border-top: 2px solid $bright-blue;
}

[data-tab-panels] + [data-tab-list] {
  border-top: 2px solid $bright-blue;
}
