@import 'ProjectPlanner/styles/center-lesson';

:root {
  --red: #ff5656;
  --green: #4dd579;
  --blue: #04b3ff;
}

#root {
  margin: 2rem;
  max-width: 300px;
}

body {
  background-color: var(--lightGray);
}

.task-card {
  background-color: #fff;
  padding: var(--gutter);
  border-radius: 0.5rem;
  border-left: 5px solid var(--taskColor);
}

.task-card span {
  background-color: var(--taskColor);
  color: #fff;
  padding: 0.3rem 0.5rem;
  border-radius: 0.1rem;
  display: inline-block;
  font-weight: bold;
}
