@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body {
  /* https://twitter.com/AllThingsSmitty/status/1254151507412496384 */
  min-height: -webkit-fill-available;
}

.bg-lesson {
  background-image: linear-gradient(to bottom right, #e5f2f2, #eaf2ff);
}
