.button,
.icon-button,
.reset-button,
button {
  all: unset;
  cursor: pointer;
  > * {
    vertical-align: middle;
  }
  > span + svg {
    margin-left: 0.8em;
  }
  > svg + span {
    margin-left: 0.8em;
  }
}

// These normalize anchors with .button to behave more like buttons
a.button {
  display: inline-block;
  text-decoration: none !important;
  white-space: nowrap;
}

.button {
  font-size: 0.9rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 0.2em;
  color: #fff;
  background-color: var(--blue2);
  border: 1px solid transparent;
  padding: 0.8em 1.3em;

  &:hover,
  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 4px rgba(#fff, 0.2);
  }

  &[disabled] {
    background-color: var(--blue4);
    border-color: var(--blue3);
    color: var(--blue1);
    cursor: default;
  }

  &.button-small {
    font-size: 0.8em;
    padding: 0.5em 0.6em;
  }

  &.button-outline:not([disabled]) {
    background-color: transparent;
    color: var(--blue);
    font-weight: bold;
    border: 1px solid var(--lineColor);
    &:hover {
      background-color: #fff;
      border-color: var(--blue2);
    }
    &:focus {
      border-color: var(--blue2);
      box-shadow: inset 0 0 0 4px #fff;
    }
  }
}
