.dropdown-menu {
  position: relative;
  display: inline-block;
}

.dropdown-items {
  display: none;
  box-shadow: var(--shadow);
  background-color: #fff;
  border-radius: 0.3em;
  overflow: hidden;
  position: absolute;
  right: 0.5em;
  top: calc(100% + 0.5em);

  flex-direction: column;
  &[data-headlessui-state='open'] {
    display: flex;
  }
}

.dropdown-items [id^='headlessui-menu-item'] {
  display: block;
  padding: 0.4em 0.8em;
  color: var(--textColor);
  text-decoration: none;

  box-sizing: border-box;
  width: 100%;
  white-space: nowrap;

  &:hover {
    background-color: var(--blue2);
    color: white;
  }
}
