.button-define {
  anchor-name: --anchorName;
}

.my-popover {
  position: fixed;
  margin: 0;
  position-anchor: --anchorName;
  position-try: flip-block;
  left: anchor(--anchorName left);
  top: anchor(--anchorName bottom);
}

@supports not (anchor-name: --something) {
  body,
  .lesson-body {
    background: red !important;
    background-image: none !important;
  }
}
