@import 'YesterTech/styles/_theme.scss';

.no-results {
  display: flex;
  min-height: 10em;
  border: 1px solid $line-color;
  border-radius: 1em;

  > div {
    margin: auto;
    max-width: 70%;
  }
}
