@import 'YesterTech/styles/_theme.scss';

.notice {
  font-size: 0.8rem;
  border: 1px solid #ddd;
  background-color: #fafafa;
  padding: 0.3rem 0.5rem;
  border-radius: 3px;

  &.notice-type-error {
    color: $red;
    border-color: $red;
    background-color: lighten($red, 55%);
  }

  // Icon Size and Alignment
  > * {
    vertical-align: middle;
  }
  > svg {
    font-size: 1rem;
  }
  > span + svg {
    margin-left: 0.3em;
  }
  > svg + span {
    margin-left: 0.5em;
  }
}
