@import 'YesterTech/styles/_theme.scss';

.pagination {
  .pagination-link {
    display: inline-block;
    font-size: 0.7rem;
    padding: 0.2rem 0.6rem;
    border: 1px solid #eee;
    border-radius: 0.3rem;
    &.active {
      border-color: $blue;
      background-color: $blue;
      color: #fff;
    }
  }
}
