@import 'YesterTech/styles/_theme.scss';

.primary-layout {
  > div {
    margin: 0 auto;
    min-height: 100vh;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
  }

  // Has .primary-header sibling flex item
  .primary-content {
    // Take up the rest of the vertical space that .primary-header doesn't use
    flex: 1;
    margin-top: $gutter;
    margin-bottom: $gutter;
  }
}
