@import 'YesterTech/styles/_theme.scss';

.category-tile {
  text-align: center;

  .category-icon {
    display: block;
  }

  svg {
    font-size: 3rem;
    fill: #1a7bb2;
    transition: transform 1s;
    transform: rotate(-20deg);
  }

  &:hover svg {
    transform: rotate(10deg);
  }

  .title {
    display: block;
    margin-top: 0.2rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: $bright-blue;
  }
}
