@import 'YesterTech/styles/_theme.scss';

.product-image {
  display: block;

  // Size of image will be controlled by font-size to preserve perspective
  width: 1em;
  height: 0.7em;
  object-fit: cover;
}
