.component {
  color: #fff;
  font-size: 1.8em;
}

.component > span {
  margin-left: 0.2em;
  letter-spacing: 0.1em;
  font-family: var(--headingFontFamily);
  color: var(--blue2);
}

[data-theme='light'] .component > span b span {
  color: var(--blue1);
}

[data-theme='dark'] .component > span b span {
  color: #fff;
}

.component svg {
  vertical-align: middle;
  width: 0.8em;
  aspect-ratio: 1/1;
  fill: var(--blue2);
}
