/**
 * Spacing (Lobotomized Owl)
 * https://css-tricks.com/lobotomized-owls/
 */

.spacing-small {
  @include spacing($gutter-small);
}
.spacing {
  @include spacing($gutter);
}
.spacing-large {
  @include spacing($gutter * 2);
}

.horizontal-spacing-small {
  @include spacing($gutter-small, true);
}
.horizontal-spacing {
  @include spacing($gutter, true);
}
.horizontal-spacing-large {
  @include spacing($gutter * 2, true);
}

/**
 * Alignment
 */

.vertical-middle > * {
  vertical-align: middle;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

/**
 * Flexbox
 */

.flex-parent {
  display: flex;

  &.flex-align-center {
    align-items: center;
  }
  &.flex-align-start {
    align-items: flex-start;
  }
  &.flex-align-end {
    align-items: flex-end;
  }
  &.flex-justify-center {
    justify-content: center;
  }
  &.flex-justify-space-around {
    justify-content: space-around;
  }
  &.flex-justify-space-between {
    justify-content: space-between;
  }
  .flex {
    flex: 1;
  }
}
