.dataGrid {
  border-top: 3px solid var(--blue1);
}

.row {
  display: flex;
  border-bottom: 1px solid var(--blue3);
}

.col {
  padding: 1rem 0.5rem;
  align-self: center;

  &:global(.data-grid-col-flex) {
    flex: 1;
  }

  > * {
    vertical-align: middle;
  }

  &:last-child {
    padding-right: 1rem;
  }

  &:first-child {
    padding-left: 1rem;
  }
}
