.component {
  &:global([data-reach-dialog-content]) {
    padding: 2em !important;
    border-radius: 0.2rem;
    overflow: scroll;
    position: fixed;
    inset: 2rem;
    margin: 0;
    min-width: 0;
    width: auto;
    font-size: 1.5em;
  }

  :global {
    button.close-dialog {
      position: fixed;
      z-index: 1;
      top: 2rem;
      right: 2rem;
    }
  }
}
