@use 'sass:math';

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

/**
 * Spacing (Lobotomized Owl)
 * https://css-tricks.com/lobotomized-owls/
 */

// Vertical and Horizontal Gutters (Lobotomized Owl)
@mixin spacing($gutter, $horizontal: false) {
  @if $horizontal {
    > * + * {
      margin-left: $gutter !important;
    }
  } @else {
    // Reset all first-child elements to have no vertical margin
    > * {
      margin-top: 0;
      margin-bottom: 0;
    }

    > * + * {
      margin-top: $gutter !important;
    }
  }
}

$gutter: 0.8rem;
$gutterSmall: 0.3rem;

.spacing-small {
  @include spacing($gutterSmall);
}
.spacing {
  @include spacing($gutter);
}
.spacing-large {
  @include spacing($gutter * 4);
}

.horizontal-spacing-small {
  @include spacing($gutterSmall, true);
}
.horizontal-spacing {
  @include spacing($gutter, true);
}
.horizontal-spacing-large {
  @include spacing($gutter * 2, true);
}

/**
 * Alignment
 */

.vertical-middle > * {
  vertical-align: middle;
}

/**
 * Flexbox
 */

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-columns {
  flex-direction: column;
}

.flex-gap {
  gap: var(--gutter);
}

.flex-gap-large {
  gap: 2em;
}

.items-center {
  align-items: center;
}

.items-bottom {
  align-items: flex-end !important;
}

.justify-between {
  justify-content: space-between;
}

.flex-split {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-1 {
  flex: 1 1 0%;
}

.align-self-start {
  align-self: start;
}

/**
 * Width / Margin / Padding
 */

.w-0 {
  width: 0;
}

@for $i from 1 through 180 {
  .w-#{$i} {
    width: #{math.div($i, 4)}rem !important;
  }
  .maxw-#{$i} {
    max-width: #{math.div($i, 4)}rem !important;
  }
}

@for $i from 1 through 80 {
  .h-#{$i} {
    height: #{math.div($i, 4)}rem !important;
  }
}

@for $i from 1 through 8 {
  .m-#{$i} {
    margin: #{math.div($i, 4)}rem !important;
  }
  .mt-#{$i} {
    margin-top: #{math.div($i, 4)}rem !important;
  }
  .mr-#{$i} {
    margin-right: #{math.div($i, 4)}rem !important;
  }
  .mb-#{$i} {
    margin-bottom: #{math.div($i, 4)}rem !important;
  }
  .ml-#{$i} {
    margin-left: #{math.div($i, 4)}rem !important;
  }
  .p-#{$i} {
    padding: #{math.div($i, 4)}rem !important;
  }
  .pt-#{$i} {
    padding-top: #{math.div($i, 4)}rem !important;
  }
  .pr-#{$i} {
    padding-right: #{math.div($i, 4)}rem !important;
  }
  .pb-#{$i} {
    padding-bottom: #{math.div($i, 4)}rem !important;
  }
  .pl-#{$i} {
    padding-left: #{math.div($i, 4)}rem !important;
  }
}
