@import 'ProjectPlanner/styles/center-lesson';

html {
  // Just so everything is a little bigger
  font-size: 25pt;
}

#root {
  max-width: 300px;
}

.minutes {
  max-width: 6rem;
}

.progress {
  padding: 0; // reset
}
