@import 'workshop/styles/_theme.scss';

.primary-header {
  border-bottom: 1px solid $line-color;
  margin-top: 0.5em;
  padding-bottom: 0.5rem;
}

.nav-logo {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: $bright-blue;
  }
}

.primary-nav-item {
  vertical-align: middle;
  text-transform: uppercase !important;
  font-size: 0.7rem !important;
  color: #333 !important;
  font-weight: bold !important;
  letter-spacing: 0.1em !important;

  &.active {
    text-decoration: underline;
  }
}
